 # -----------------------------
# Python & Environment
# -----------------------------
venv/
__pycache__/
*.py[cod]
.vscode/

# -----------------------------
# Dataset & Features
# -----------------------------
data/raw/
data/processed/
data/*.zip
data/*.tar.gz
*.flac
*.pt
*.pth

# אם לא רוצים גם את הפרוטוקולים:
# data/protocols/

# -----------------------------
# Trained Models / Outputs
# -----------------------------
checkpoints/
results/

# -----------------------------
# System Files
# -----------------------------
.DS_Store
Thumbs.db
.ipynb_checkpoints/